
<h1>Welcome To Cart</h1>



<div class="container-fluid" > 
  <div class="row justify-content-center" *ngFor="let p of cartData;" style="border:2px solid #cecece;margin-bottom: 0.25em;"> 
    
     <div class="col"><img src="{{p.productImageUrl}}" width="200" height="200"></div>
     <div class="col">
       <div class="card border-0 text-center">
      <p>{{p.productName}}</p>
      <p>{{p.productDiscountPrice}}</p>
      <del>{{p.productOriginalPrice}}</del>
      <div class="btn" (click)="removeValues(p)" style="background-color: cornflowerblue;width: 8rem;margin-bottom: 0.25em;float: none;">Remove</div>
    </div> 



    <!--Quantity Button start-->
     <div class="card" style="width: 8rem;align-items: center;background-color: lime;">
       <div class="row">
         <div class="btn" (click)="incrementValue(p)" style="padding-right: 0.1em;"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></div>
          <div class="btn" ><input type="text" name="quantity"  value="{{p.quantity}}" [(ngModel)]="p.quantity"
           maxlength="2" max="10" size="1" id="number" style="border-style:none;text-align: center;font-weight: bolder;" /></div>
          <div class="btn" (click)="decrementValue(p)" style="padding-left: 0.1em;"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></div>
       </div>
      </div>
    <!--QUANTITY Button End-->
   
    </div>
  </div> 
</div>













