
<div class="container-fluid">
  <strong>Your Address</strong><br>
  <small>(మీ యొక్క ప్రస్తుత  అడ్రస్)</small>

<div class="card pl-2 mr-4 mb-2">

<strong>Aravind</strong>
<p><span>Phone Number: </span>7093094220</p>
<p><span>5-77/1</span>,<span>wardNo 5</span></p>
<p>Gambhirpur <span>505306</span></p>
<p>Telangana</p>
<p>India</p>
</div>


<strong>Edit Address</strong><br>
<small>(మీ యొక్క ప్రస్తుత అడ్రస్ ని మార్పు చేయండి)</small>
<div class="card pl-2 mr-4 mb-2">

  <strong>Aravind</strong>
  <p><span>Phone Number: </span>7093094220</p>
  <p><span>5-77/1</span>,<span>wardNo 5</span></p>
  <p>Gambhirpur <span>505306</span></p>
  <p>Telangana</p>
  <p>India</p>
  </div>



<div class="row">
<div class="col-sm ">
  <strong>Add New Address</strong><br><small>(కొత్త అడ్రస్ ని చేర్చండి)</small>
<div class="card border-0 bg-light pl-3 pr-3 mt-2 mb-2">
  

<form>
    <div class="form-group">
      <label for="inputName">Full Name<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="nameInput"  placeholder="మీ పూర్తి పేరు తెలియజేయండి" required >
    </div>
    <div class="form-group">
      <label>Mobile Number<span style="color: red;">*</span></label>
      <input type="text" class="form-control" placeholder="మీ మొబైల్ నెంబర్ తెలియజేయండి" required>
    </div>
    <div class="form-group">
      <label>Alternate Mobile Number</label>
      <input type="text" class="form-control" placeholder="అదనపు మొబైల్ నెంబర్ తెలియజేయండి" >
    </div>

    <div class="form-group">
      <label for="inputHouseNo">HouseNo<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="inputHouseNo" placeholder="మీ ఇంటి నెంబర్ తెలియజేయండి" required>
    </div>

    <div class="form-group">
       <label>RoadName,Area,Colony<span style="color: red;">*</span></label>
       <input type="text" class="form-control" placeholder="కాలనీ పేరు,రోడ్ నెంబర్ తెలియజేయండి" required>
    </div>

    <div class="form-group">
      <label for="selectVillage"><span>Select Village<span style="color: red;">*</span><br><small>(క్రింద వాటిలో మీ ఊరిని ఎంచుకోండి)</small></span></label>
      <select class="form-control" id="selectVillage" required>
        <option>Gambhirpur(గంభీర్ పూర్)</option>
        <option>Thandriyal(తండ్రియాల)</option>
        <option>Bommena(బొమ్మెన)</option>
        <option>Rajalingampet(రాజాలింగంపేట)</option>
        <option>Lingampet(లింగంపేట)</option>
      </select>
    </div>
    <div class="form-group">
      <label>Pincode<span style="color: red;">*</span></label>
      <input type="text" class="form-control" placeholder="మీ పిన్ కోడ్ తెలియజేయండి" required>
    </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" value="Telangana" readonly>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" value="India" readonly>
      </div>
      <small style="color:green;"><span style="color: red;font-size: larger;">*</span> మార్క్ ఉన్నవి మొత్తం నింపండి</small>
      

    
  </form>
  <div class="btn bg-secondary ml-5 mr-5 mt-2 mb-2">Save(సేవ్ చేయండి)</div>
  
</div>
</div>
</div>

</div>



