<p>get-employee-data works!</p>


<form (submit)=onGetById(id)>
    <label>EmpId </label>
    <input type="text" name='id' [(ngModel)]="id"><br>
    <input type="submit">
  </form>

  <table border="1">
    <thead >
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Date</th>
    </thead>
    <tbody>
  <tr>
    <td>{{empData.id}}</td>
    <td>{{empData.employeeName}}</td>
    <td>{{empData.department}}</td>
    <td>{{empData.date}}</td>
  </tr>
    </tbody>
  </table>
